/* @import "./theme.css"; */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.p-card {
    @apply text-black;
}

.p-button {
    color: #fff;
    background-color: #5e3893;
    border: 1px solid #5e3893;
}

.overflow-auto::-webkit-scrollbar,
.overflow-y-auto::-webkit-scrollbar,
.overflow-x-auto::-webkit-scrollbar,
.p-datatable>.p-datatable-wrapper::-webkit-scrollbar {
    width: 12.5px;
    height: 12.5px;
    border-radius: 3px;
}

.overflow-auto::-webkit-scrollbar-thumb,
.overflow-x-auto::-webkit-scrollbar-thumb,
.overflow-y-auto::-webkit-scrollbar-thumb,
.p-datatable>.p-datatable-wrapper::-webkit-scrollbar-thumb {
    background: #ACABAB;
    border-radius: 3px;
}

.overflow-auto::-webkit-scrollbar-track,
.overflow-x-auto::-webkit-scrollbar-track,
.overflow-y-auto::-webkit-scrollbar-track,
.p-datatable>.p-datatable-wrapper::-webkit-scrollbar-track {
    background: #D9D9D9;
    border-radius: 3px;
}


.p-button:not(.p-link):disabled,
.p-button.disabled:not(.p-link) {
    background-color: #E2E2E2;
    border-color: #E2E2E2;
    color: #000000;
    opacity: 1;
}

.p-component-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.no-month-navigator {
    .p-calendar {
        height: 100%;
        border-radius: 8px;
        box-shadow: 0px 10px 15px -3px rgba(16, 24, 40, 0.10), 0px 4px 6px -4px rgba(16, 24, 40, 0.10);

        .p-datepicker {
            border: none;
            padding-left: 4px;
            padding-right: 4px;

            table {
                font-size: 0.875rem;

                tbody * {
                    font-family: 'Urbanist', sans-serif !important;
                    @apply text-sm font-light;
                }

                td>span.p-highlight {
                    background-color: rgba(94, 56, 147, 0.271);
                    @apply text-white;
                }


                .p-datepicker-other-month {
                    @apply bg-primary opacity-30 text-sm line-through rounded-full;
                }
            }

            .p-datepicker-header {
                border-bottom: none;
            }

            .p-datepicker-month.p-link,
            .p-datepicker-year.p-link {
                font-family: "RubikMedium", sans-serif !important;
            }
        }
    }

    .p-datepicker-next,
    .p-datepicker-prev {
        display: none;
        pointer-events: none;
    }

    .p-datepicker-month.p-link,
    .p-datepicker-year.p-link {
        pointer-events: none;
    }

    /* .p-datepicker-year.p-link {
        @apply !text-primary p-0;
    }

    .p-datepicker table td {
        @apply p-0;
    } */


}

.rubik-medium {
    font-family: "RubikMedium", sans-serif !important
}

.day-parametrization,
.no-month-navigator,
.citizen-attention-paginator {
    .p-paginator {
        border: unset;

        .p-paginator-pages .p-paginator-page {
            min-width: 2.5rem;
            height: 2.5rem;
            padding: 0.75rem .5rem;
        }
    }

    .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
        background: #533893;
        border-color: #533893;
        color: #ffffff;
    }

    .p-paginator .p-paginator-first,
    .p-paginator .p-paginator-prev,
    .p-paginator .p-paginator-next,
    .p-paginator .p-paginator-last,
    .p-paginator .p-paginator-pages .p-paginator-page,
    .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
        border-radius: 4px;
    }
}

.day-parametrization {
    .p-datatable {

        .p-datatable-header {
            padding: 0.5rem 0;
            background: transparent;
            border: unset;
        }

        .p-paginator {
            border: none !important;
        }

        /* tbody * {
            @apply !font-sans;
        } */
    }
}

.borderless {

    .p-datatable .p-datatable-thead>tr>th,
    .p-datatable .p-datatable-tbody>tr>td {
        border: none !important;
    }
}

.reverse-striped {
    .p-datatable .p-datatable-thead>tr>th {
        background: transparent;
    }

    .p-datatable .p-datatable-tbody>tr {
        background: #F4F4F4;
    }

    .p-datatable.p-datatable-striped .p-datatable-tbody>tr.p-row-odd {
        background: transparent;
    }
}

.justify-center .p-column-header-content {
    justify-content: center;
}

.p-radiobutton.radio-sm .p-radiobutton-box {
    border: 0.4px solid #d1ceda;
    width: 16px;
    height: 16px;

    .p-radiobutton-icon {
        width: 6px;
        height: 6px;
    }
}

.p-dropdown.select-sm .p-inputtext {
    padding: 0.532rem 0.675rem;
}

.p-dropdown.select-xs {
    /* .p-inputtext {
        padding: 0.25rem 0.25rem;
        @apply !text-sm;
    } */

    .p-dropdown-trigger {
        width: 1.25rem;

        .p-icon {
            width: 0.75rem;
            height: 0.75rem;
        }
    }
}

.p-dropdown-panel.select-xs {
    .p-dropdown-items {
        .p-dropdown-item {
            padding: 0.5rem .65rem;
            /* @apply !text-xs; */
        }
    }
}

.\!font-sans * {
    font-weight: 400;
}

.p-tooltip .p-tooltip-text {
    border-radius: 15px;
    background: #495057;
}

.p-tooltip.p-tooltip-right .p-tooltip-arrow {
    border-right-color: #495057;
}

.p-tooltip.p-tooltip-left .p-tooltip-arrow {
    border-left-color: #495057;
}

.p-tooltip.p-tooltip-top .p-tooltip-arrow {
    border-top-color: #495057;
}

.p-tooltip.p-tooltip-bottom .p-tooltip-arrow {
    border-bottom-color: #495057;
}

.citizen-attention {
    .p-tree {
        .p-tree-container {
            .p-treenode {
                padding: 0;

                .p-treenode-content {
                    padding: 0.5rem 0.75rem;
                    border-radius: 0;
                    border-bottom: 1px solid #D9D9D9;
                }
            }
        }

        .p-treenode-children {
            padding: 0;

            .p-treenode .p-treenode-content {
                padding-left: 2.25rem;
            }
        }
    }

    .sticky-header.p-tree {
        border: unset !important;

        .p-tree-header {
            position: sticky;
            z-index: 2;
            top: 0px;
        }

        .p-tree-container {
            padding-top: 20px;
            margin-top: -20px;
            border-top: 1px solid #D9D9D9;
            border-left: 1px solid #D9D9D9;
            border-right: 1px solid #D9D9D9;
            @apply lg:rounded-md rounded-2xl;
            position: relative;
            z-index: 1;

            .p-treenode {
                .p-treenode-content {
                    border-bottom: unset;
                }
            }

            .p-treenode:last-child {
                .p-treenode-content {
                    @apply lg:rounded-b-md rounded-b-2xl;
                    border-bottom: 1px solid #D9D9D9;
                }
            }
        }
    }
}