/*-- text utilities --*/
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-display-inline-block {
  display: inline-block !important;
}

.position-relative {
  position: relative !important;
}

.uppercase {
  text-transform: uppercase;
}

// .display-align-flex-end {
//   display: flex;
//   align-items: flex-end;
//   flex-direction: row;
// }

// .display-align-flex-start {
//   display: flex;
//   align-items: flex-start;
//   flex-direction: row;
// }

// .display-align-flex-center {
//   display: flex;
//   align-items: center;
//   flex-direction: row;
// }

// .display-justify-flex-end {
//   display: flex;
//   justify-content: flex-end;
//   flex-direction: row;
// }

// .display-justify-space-between {
//   display: flex;
//   justify-content: space-between;
//   flex-direction: row;
// }

.display-justify-space-between-pac{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.display-justify-flex-center {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.display-justify-flex-center-adicion {
  display: flex;
  justify-content: center;
  flex-direction: row;
  
    gap: 0.5rem;
  
}

.display-justify-flex-start{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.display-flex-direction-column{
  display: flex;
  flex-direction: column;
}

.padding{
  padding: 1em;

  &.padding-0-1-1{
    padding: 0px 1rem 1rem;
  }

  &.paddingBotom{
    padding: 0 0 .8rem;
  }

}

.bottom{
  bottom: 0;

  &.bottom-1{
    bottom: 1rem;
  }

  &.bottom-1-5{
    bottom: 1.5rem;
  }

}

@media (min-width: 1024px) {
  .display-justify-space-between-pac{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

@media(max-width: 500px) {
  .display-justify-flex-center {
    flex-direction: column;
    align-items: center;
  }
  .display-justify-flex-center-adicion {
    flex-direction: row;
    align-items: center;
    
    .p-rating {
      gap: 5px;  /* O cualquier unidad que desees */
    }
    
  }
}

