.grid-form-3-container-area {
  display: grid;
  grid-template-columns: 1fr 0.95fr 1fr;
  grid-gap: 0.5rem 1rem;
  align-items: stretch;

  &.grid-column-repet{ 
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px 16px;
  }
  
}

.grid-form-2-container-reverse {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 0px 1rem;
  align-items: stretch;
  &.grid-column-e-proj-operation{ 
    grid-template-columns: 1fr 1fr 2fr 1fr
  }
  &.grid-column-four{ 
    grid-template-columns: 1fr 1fr 1fr 1fr
  }
}


@media (max-width: 920px) {

  .grid-form-3-container-area {
    grid-template-columns: 1fr; 
    gap: 0.8rem;
  }

  .grid-form-2-container-reverse{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.8rem;
    &.grid-column-e-proj-operation{ 
      grid-template-columns: 1fr
    }
    &.grid-column-four{ 
      grid-template-columns: 1fr
    }
    
  }
}


@media (max-width: 700px) {
  .grid-form-3-container-area {
    &.grid-column-repet{ 
      grid-template-columns: 1fr;
    }
  }
}
