.grid-form-3-container-area {
  display: grid;
  grid-template-columns: 1fr 0.95fr 1fr;
  grid-gap: 0.5rem 1rem;
  align-items: stretch;
}

.grid-form-2-container-reverse {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0px 1rem;
  align-items: stretch;
}


@media (max-width: 920px) {

  .grid-form-3-container-area {
    grid-template-columns: 1fr; 
    gap: 0.8rem;
  }

  .grid-form-2-container-reverse{
    grid-template-columns: 1fr; 
    gap: 0.8rem
  }
}

